body{
font-family:Arial;
margin:0;
}

header{
background:black;
color:white;
padding:10px;
display:flex;
justify-content:space-between;
align-items:center;
}

#menu::before{
content:"☰";
font-size:2rem;
color:white;
}

#menu.open::before{
content:"X";
}

.navigation{
display:none;
flex-direction:column;
list-style:none;
padding:0;
}

.navigation.open{
display:flex;
}

.navigation a{
color:white;
padding:10px;
text-decoration:none;
display:block;
}

.navigation a.active{
background:#444;
}

main{
padding:20px;
}

section{
background:#eee;
padding:10px;
margin-bottom:20px;
}

img{
width:100%;
max-width:200px;
}

.buttons{
display:flex;
gap:10px;
margin-bottom:10px;
}

#courseContainer{
display:flex;
flex-direction:column;
gap:10px;
}

.course{
padding:10px;
background:#ddd;
}

.completed{
background:#2ecc71;
color:white;
font-weight:bold;
}

footer{
text-align:center;
background:#ddd;
padding:10px;
}